:root {
  box-sizing: border-box;
}

::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h2,
h3 {
  font-weight: 700;
}

.ohmyfood__button {
  cursor: pointer;
  height: 3rem;
  width: 13.5rem;
  border-radius: 3rem;
  margin: 1rem 0 2.5rem;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.05rem;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: grey 0px 5px 15px;
}

.menu__meal--contenu {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.menu__meal--price {
  display: flex;
  align-items: center;
}
.menu__meal:hover > .menu__meal--check {
  transform: scaleX(1);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.logo img {
  height: 2rem;
  width: 10rem;
  padding: 1rem 0 0.5rem;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 2.5rem;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.1rem;
}
footer a {
  color: white;
  line-height: 1.7rem;
}

.animation {
  display: block;
  position: absolute;
  background: #99E2D0;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  animation: spin 3s linear forwards;
  transform: rotate(0deg);
}

@keyframes spin {
  99% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.search-city {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  border-top: inset;
}

.search-restaurant {
  background-color: #F6F6F6;
  text-align: center;
}
.search-restaurant h2 {
  margin: 0;
  padding: 2.5rem 3rem 0;
}

.order {
  margin-bottom: 3rem;
}
.order h2 {
  margin: 0;
  padding: 2.2rem 1.3rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .order h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.order__steps {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.order__steps--order {
  width: 15rem;
  height: 3rem;
  border-radius: 0.8rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  box-shadow: grey 0px 5px 15px;
}
.order__steps--order:hover {
  background-color: #F5EDFF;
}
.order__steps--order:hover .fas {
  color: #9356DC;
}
.order__count {
  background-color: #9356DC;
  position: relative;
  right: 13.2rem;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 3rem;
}
.restaurants h2 {
  padding: 2.3rem 1.3rem 0;
}
@media screen and (min-width: 768px) {
  .restaurants h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__card {
    width: 40%;
  }
}
.restaurants__new span {
  color: #008766;
  font-weight: 500;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 0.2rem;
  position: relative;
  left: 3rem;
  bottom: 11rem;
  padding: 0 0.5rem;
}
.restaurants__list {
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .restaurants__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.restaurants__list figure {
  background-color: #FFFFFF;
  border-radius: 1.2rem;
  margin: 0 1.3rem 1.3rem;
}
@media screen and (min-width: 768px) {
  .restaurants__list figure {
    margin: 0 0 1.3rem 1.3rem;
  }
}
.restaurants__list figcaption {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.2rem 1rem;
}
.restaurants__list h3 {
  margin: 0;
  padding: 0.5rem 0.5rem 0;
}
.restaurants__list p {
  margin: 0.2rem 0 0;
  padding: 0 0.5rem;
}
.restaurants__list img {
  width: 100%;
  height: 100%;
  max-height: 12rem;
  object-fit: cover;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.restaurants__card a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__list-heartfav {
  margin: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.restaurants__list-heartfav .fa-heart {
  position: absolute;
}
.restaurants__list-heartfav .heart-full {
  color: transparent;
}
.restaurants__list-heartfav .heart-full:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1s;
}
.restaurants__list-heartfav .heart-empty:hover {
  color: transparent;
  transition-duration: 1s;
}

.menu-header {
  padding: 1.5rem 0 0.5rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.menu-header__logo {
  padding: 0 4rem 0 3em;
  margin: 0;
}

.main-menu {
  background-color: #f6f6f6;
}
.main-menu__order {
  display: flex;
  justify-content: center;
}

.main-menu img {
  max-height: 15rem;
  width: 100%;
  object-fit: cover;
}

.menu__appetizer,
.menu__main-course,
.menu__dessert {
  animation: fade-in 5s forwards;
  display: block;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  padding: 1.5rem;
  position: relative;
  bottom: 2.5rem;
  background-color: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -0.04rem;
  margin: 0 0 0.3rem;
}
.menu__underlign {
  border-top: 3px solid #99E2D0;
  width: 3rem;
}
.menu__header {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu__header {
    justify-content: center;
  }
}
.menu__header h2 {
  font-family: "Shrikhand", cursive;
}
.menu__header--heartfav span {
  position: absolute;
  right: 2.5rem;
}
.menu__header--heartfav .heart-full {
  color: transparent;
}
.menu__header--heartfav .heart-full:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 1s;
}
.menu__header .heart-empty:hover {
  color: transparent;
  transition-duration: 1s;
}
.menu__meal {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 95%;
  background-color: white;
  margin: 1rem 0;
  border-radius: 0.8rem;
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  animation: slidein 2s forwards;
  opacity: 0;
  box-shadow: grey 0px 5px 15px;
}
.menu__meal:hover > .menu__meal--check {
  animation: app 1s forwards;
}
.menu__meal:hover .fa-check-circle {
  transform: scale(1);
  transform: rotate(360deg);
  transition: all 1s;
  color: white;
}
.menu__meal--check {
  display: flex;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  overflow: hidden;
  margin-top: 0.5rem;
  padding: 2rem 2rem 2rem 1.5rem;
  position: relative;
  top: -1rem;
  right: -1rem;
  transform: scaleX(0);
  transform-origin: 100% 50%;
}
@keyframes app {
  100% {
    transform: scaleX(1);
  }
}
.menu h4,
.menu p {
  margin: 0;
}
.menu--contenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: width 1s;
}

.fa-check-circle {
  font-size: 1.5rem;
}

.meal1 {
  animation-delay: 1s;
}

.meal2 {
  animation-delay: 1.1s;
}

.meal3 {
  animation-delay: 1.2s;
}

.meal4 {
  animation-delay: 1.3s;
}

@keyframes slidein {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .menu__appetizer, .menu__main-course, .menu__dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .menu__meal {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
