.search-city {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}

.search-restaurant {
    background-color: #F6F6F6;
    text-align: center;
    & h2 {
        margin: 0;
        padding: 2.5rem 3rem 0;
    }
    &__button {
        cursor: pointer;
        height: 3rem;
        width: 15rem;
        border-radius: 3rem;
        margin: 1rem 0 3.5rem;
        border: none;
    }
}

.restaurants {
    background-color: #F6F6F6;
    padding-bottom: 3rem;
    & h2 {
        padding: 2.3rem 1.3rem 0;
    }
    &__list {
        box-sizing: border-box;
        & figure {
            background-color: white;
            border-radius: 1.2rem;
            margin: 0 1.3rem 1.3rem;
        }
        & figcaption {
            display: flex;
            justify-content: space-between;
            padding: 0rem 0.2rem 1rem;
        }
        & h3 {
            margin: 0;
            padding: 0.5rem 0.5rem 0;
        }
        & p {
            margin: 0.2rem 0 0;
            padding: 0 0.5rem;
        }
        & img {
            width: 100%;
            height: 100%;
            max-height: 12rem;
            object-fit: cover;
            border-top-left-radius: 1.2rem;
            border-top-right-radius: 1.2rem;
        }
    }
    &__list-heartfav {
        margin: 1.5rem;
        font-size: 1.5rem;
        .fa-heart {
            position: absolute;
            left: 19.2rem;
        }
        .heart-full {
            color: transparent;
        }
    }
}