.search-city {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurants {
    background-color: #F6F6F6;
    .restaurants__list {
        box-sizing: border-box;
        & img {
            width: 100%;
        }
    }
}